<div>
    <h3> APP En desarrollo </h3>
</div>
<div class="d-flex justify-content-center mt-3">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" action="">
        <div class="">
            <div class="form-group ">
                <label>Summoner</label>
                <input class="form-control ml-1" [(ngModel)]="summoner.name" name="name" type="text">
            </div>
            <div class="form-group ">
                <label>Region</label>
                <select class="form-control" [(ngModel)]="summoner.regionId" required name="category" id="">
                    <option *ngFor="let reg of region" > {{ reg.region }} </option>
                </select>
            </div>
            <div class="d-flex justify-content-center">
                <button [disabled]="clicked" (click)="onSubmit(); clicked = true" class="btn btn-success">Buscar</button>
            </div>
        </div>
    </form>
    <br>
</div>

<div *ngIf="cargando" class="alert alert-info- text-center">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
</div>

<div *ngIf="!cargando" class="container">
    <!-- Match History and Info -->
    <ng-container *ngFor="let matc of matchesArray; let i = index">
        <hr class="hr-style">
        <div class="match-list flex-nowrap flex-row">
            <div class="row flex-nowrap flex-row mt-2 ">
                <div class="col-md-2 champ-history-image">
                    <div class="match-history-champ col-md-6">
                        <img class="match-history-champ-img" (click)="openMatchStats(i,matc)" [src]="matc.summonerMatchInfo?.championIdImage" alt="" srcset="">
                    </div>
                    <div>
                        <div *ngIf=" matc.summonerMatchInfo?.stats.matchResult === 'Defeat' "> <span class="defeat">{{ matc.summonerMatchInfo?.stats.matchResult }} </span> </div>
                        <div *ngIf=" matc.summonerMatchInfo?.stats.matchResult === 'Victory' "> <span class="victory">{{ matc.summonerMatchInfo?.stats.matchResult }} </span> </div>
                        <div class="match-history-spell">
                            <img [src]="matc.summonerMatchInfo?.spellId1Info.image" alt="">
                            <img [src]="matc.summonerMatchInfo?.spellId2Info.image" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-1 kda-history ">
                    <span class="green"> {{matc.summonerMatchInfo?.stats.kills}} </span> / <span class="red">{{matc.summonerMatchInfo?.stats.deaths}} </span>/ <span class="gold"> {{matc.summonerMatchInfo?.stats.assists}} </span>
                </div>
                <div class="col-md-2 duration-history ">
                    <p>
                        Game Duration {{ gameDuration[i] }}
                    </p>
                </div>
                <div class="col-md-1 gold-history ">
                    <p class="gold">
                        {{ matc.summonerMatchInfo?.stats.goldEarned }}
                    </p>
                </div>
                <div>
                    <div>
                        <img class="perk-history-center" [src]="matc.summonerMatchInfo?.stats.perkData.image | domseguro" alt="">
                    </div>
                </div>
                <div class="col-md-3 item-history-div d-flex justify-content-center ">
                    <div class="img-item box-info ">
                        <div *ngFor="let image of matc.summonerMatchInfo?.stats.itemImage; let ii = index" class="item" placement="top" [ngbPopover]="popContent" triggers="mouseenter:mouseleave" [popoverTitle]="popTitle">
                            <ng-template #popTitle>
                                <div class="item-name">
                                    {{ matc.summonerMatchInfo?.stats.itemInfo[ii]?.name }}
                                </div>
                            </ng-template>
                            <ng-template #popContent>
                                <div [innerHTML]="matc.summonerMatchInfo?.stats.itemInfo[ii]?.description">
                                </div>
                            </ng-template>
                            <img [src]="image | domseguro " alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Match History and Info -->

            <!-- Single Match and Info -->
            <div class="container">
                <div class="col-md-12">
                    <ng-container *ngFor="let mat of matchesArray; let i = index">
                        <div *ngIf="matc.show === true && mat.gameId === matc.gameId ">
                            <!-- Match Winner -->
                            <table class="table table-borderless ">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="th-head" colspan="3">Victoria</th>
                                        <th scope="col">División</th>
                                        <th scope="col">Champ Level </th>
                                        <th scope="col">KDA</th>
                                        <th scope="col">Keystone</th>
                                        <th scope="col">Items</th>
                                        <th scope="col">Gold</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let parti of dataParticipants; let idp = index ">
                                        <tr *ngIf="matc.participants[idp].stats.win === true ">
                                            <td class="champImage">
                                                <!-- Champ detail -->
                                                <div class="img-champ col-md-8 pt-2 box-info ">
                                                    <div class="" placement="top" ngbPopover="" triggers="mouseenter:mouseleave" [popoverTitle]="matc.participants[idp].champInfo.name">
                                                        <img [src]="matc.participants[idp].championIdImage" alt="">
                                                    </div>
                                                </div>

                                                <!-- End Champ detail -->
                                            </td>
                                            <td>
                                                <!-- Spells -->
                                                <div class="img-spell row">
                                                    <div class=" col-md-6">
                                                        <img [src]="matc.participants[idp].spellId1Info.image" alt="">
                                                    </div>
                                                    <div class=" col-md-6">
                                                        <img [src]="matc.participants[idp].spellId2Info.image" alt="">
                                                    </div>
                                                </div>
                                                <!-- End Spells -->
                                            </td>
                                            <td>
                                                <div class="summoner-name">
                                                    <p>
                                                        <span (click)="getSummoner(matc.participantIdentities[idp].player.summonerName)"> 
                                                                {{ matc.participantIdentities[idp].player.summonerName }}                                  
                                                        </span>
                                                    </p>
                                                </div>
                                            </td>
                                            <td>
                                                <p>Division</p>
                                            </td>
                                            <td>
                                                <p> {{matc.participants[idp].stats.champLevel}} </p>
                                            </td>
                                            <td>
                                                <span class="green"> {{matc.participants[idp].stats.kills}} </span> / <span class="red">{{matc.participants[idp].stats.deaths}} </span>/ <span class="gold"> {{matc.participants[idp].stats.assists}} </span>
                                            </td>
                                            <td>
                                                <div>
                                                    <img class="perk-center" [src]="matc.participants[idp].stats.perkData.image | domseguro" alt="">
                                                </div>
                                            </td>
                                            <td class="item-div">
                                                <div class="img-item box-info ">
                                                    <div *ngFor="let image of matc.participants[idp].stats.itemImage; let ii = index" class="item" placement="top" [ngbPopover]="popContent" triggers="mouseenter:mouseleave" [popoverTitle]="popTitle">
                                                        <ng-template #popTitle>
                                                            <div class="item-name">
                                                                {{ matc.participants[idp].stats.itemInfo[ii]?.name }}
                                                            </div>
                                                        </ng-template>
                                                        <ng-template #popContent>
                                                            <div [innerHTML]="matc.participants[idp].stats.itemInfo[ii]?.description">
                                                            </div>
                                                        </ng-template>
                                                        <img [src]="image | domseguro " alt="">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="gold"> {{ matc.participants[idp].stats.goldEarned }} </p>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                            <!-- End Match Winner -->

                            <!-- Match Loser -->
                            <table class="table table-borderless ">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="th-head" colspan="3">Derrota</th>
                                        <th scope="col">División</th>
                                        <th scope="col">Champ Level </th>
                                        <th scope="col">KDA</th>
                                        <th scope="col">Keystone</th>
                                        <th scope="col">Items</th>
                                        <th scope="col">Gold</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let parti of dataParticipants; let idp = index ">
                                        <tr *ngIf="matc.participants[idp].stats.win === false ">
                                            <td class="champImage">
                                                <!-- Champ detail -->
                                                <div class="img-champ col-md-8 pt-2 box-info">
                                                    <div class="" placement="top" ngbPopover="" triggers="mouseenter:mouseleave" [popoverTitle]="matc.participants[idp].champInfo.name">
                                                        <img [src]="matc.participants[idp].championIdImage" alt="">
                                                    </div>
                                                </div>

                                                <!-- End Champ detail -->
                                            </td>
                                            <td>
                                                <!-- Spells -->
                                                <div class="img-spell row">
                                                    <div class=" col-md-6">
                                                        <img [src]="matc.participants[idp].spellId1Info.image" alt="">
                                                    </div>
                                                    <div class=" col-md-6">
                                                        <img [src]="matc.participants[idp].spellId2Info.image" alt="">
                                                    </div>
                                                </div>
                                                <!-- End Spells -->
                                            </td>
                                            <td>
                                                <div class="summoner-name">
                                                    <p>
                                                        <span (click)="getSummoner(matc.participantIdentities[idp].player.summonerName)"> 
                                                                {{ matc.participantIdentities[idp].player.summonerName }}                                  
                                                        </span>
                                                    </p>
                                                </div>
                                            </td>

                                            <td>
                                                <p>Division</p>
                                            </td>
                                            <td>
                                                <p> {{matc.participants[idp].stats.champLevel}} </p>
                                            </td>
                                            <td>
                                                <span class="green"> {{matc.participants[idp].stats.kills}} </span> / <span class="red">{{matc.participants[idp].stats.deaths}} </span>/ <span class="gold"> {{matc.participants[idp].stats.assists}} </span>
                                            </td>
                                            <td>
                                                <div>
                                                    <img class="perk-center" [src]="matc.participants[idp].stats.perkData.image | domseguro" alt="">
                                                </div>
                                            </td>
                                            <td class="item-div">
                                                <div class="img-item box-info">
                                                    <div *ngFor="let image of matc.participants[idp].stats.itemImage; let ii = index" class="item" placement="top" [ngbPopover]="popContent" triggers="mouseenter:mouseleave" [popoverTitle]="popTitle">
                                                        <ng-template #popTitle>
                                                            <div class="item-name">
                                                                {{ matc.participants[idp].stats.itemInfo[ii]?.name }}
                                                            </div>
                                                        </ng-template>
                                                        <ng-template #popContent>
                                                            <div [innerHTML]="matc.participants[idp].stats.itemInfo[ii]?.description">
                                                            </div>
                                                        </ng-template>
                                                        <img [src]="image | domseguro " alt="">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="gold"> {{ matc.participants[idp].stats.goldEarned }} </p>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                            <!-- End Match Loser -->
                        </div>
                    </ng-container>
                </div>
            </div>
            <!-- End Single Match and Info -->


        </div>
    </ng-container>
</div>