html,
body {
    background-color: #171717;
    color: white;
}

.box-info {
    color: #171717;
}

label {
    text-align: center;
    display: block;
}

.table td,
.table th {
    padding: 0.2rem;
    vertical-align: top;
    color: white;
}

.hr-style {
    background: black;
    border-top: 1px solid #7a7a7a;
}

div.img-champ div {
    padding: 0;
}

div.img-item div {
    padding: 0;
}

.kda-history {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.green {
    color: #64e318;
}

.red {
    color: #d8442b;
}

.defeat {
    color: #c6443e;
}

.victory {
    color: #1a78ae;
}

.duration-history {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.gold-history {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.perk-center {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.item-history-div {
    margin-top: 15px;
    vertical-align: middle;
    width: 180px;
}

.item-history-div .item {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.item-history-div .item img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    border: 2px solid #2a2a2a;
    border-radius: 6px;
}

.gold {
    color: #ffc400;
}

.summoner-name {
    color: #ffc400;
    padding-top: 0.5rem;
    margin-left: 5px
}


/* Items */

.item-div {
    width: 180px;
}

.item-div .item {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 22px;
}

.item-div .item img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    border: 2px solid #2a2a2a;
    border-radius: 6px;
}

.stats-div .stats {
    display: inline-block;
    width: 50px;
}


/* End Items */


/* Champ  */

.champImage {
    width: 22px;
    height: 22px;
}

.champImage img {
    width: 32px;
    height: 32px;
}


/* End Champ */


/* Spell */

div.img-spell {
    width: 40px;
}

.img-spell {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.img-spell img {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 2px solid #2a2a2a;
    border-radius: 6px;
}


/* End Spell */


/* Match History */

.match-history-champ {
    display: inline-block;
    width: 80px;
}

.match-history-champ-img {
    display: inline-block;
    width: 80px;
}

.champ-history-image {
    display: flex;
}

.match-history-spell img {
    width: 22px;
    border: 2px solid #2a2a2a;
    border-radius: 6px;
}


/* End Match History */


/* Table */

.table th {
    text-align: center;
}

.table th .th-head {
    width: 400px;
}

.table td {
    text-align: center;
}


/* End Table */

* {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

*:before,
*:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.container,
.continar-fluid {
    min-width: 1200px;
}